extends layout


block content
  form(method="post")
    fieldset.form-group.card-body
      legend Ajout d'une musique
      .input-group.mb-3
        .custom-file
          label#file-label.custom-file-label(for='file-inp') Choisissez une musique (.mp3, .wav)
          input#file-inp(type='file' required accept="audio/mp3, audio/wav" onchange="updateFilenames(this.value)")
      .form-group
        label(for="music-name") Musique
        input#music-name.form-control(type="text" placeholder="Nom de la musique" value="" required)
      .form-group
        label(for="author-name") Auteur
        input#author-name.form-control(type="text" placeholder="Nom de la musique" value="" required)
      button.btn.btn-success.float-right(type="submit") Valider