.waveform {
    position:relative;
    border: solid 1px black;
    padding: 20px 20px;
}

.main {
    fill: url(#base);
}

.peak {
    transition: all .15s ease-out;
}
.peak:hover {
    transform: translateY(-7px);
}

.passed {
    fill: url(#active);
}