.waveform {
    position:relative;
    border: solid 1px black;
    padding: 20px 20px;
}

.main {
    fill: url(#base);
}

.peak:hover {
    transform: translateY(-7px);
}
.peak {
    transition: all 0.2s ease-out;
}
.passed {
    fill: url(#active);
}